mobile_app/ios/Podfile
mobile_app/ios/Podfile.lock
mobile_app/ios/Flutter/Debug.xcconfig
mobile_app/ios/Flutter/Release.xcconfig
mobile_app/ios/Runner.xcodeproj/project.pbxproj
mobile_app/ios/Runner.xcworkspace/contents.xcworkspacedata
